@page "/ucs/edit"
@using Microsoft.EntityFrameworkCore
@using Momentum.UI.Models
@inject IDbContextFactory<Momentum.UI.Data.AppDbContext2> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>UCs</h2>
<hr />
@if (UCs is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="UCs" OnValidSubmit="UpdateUCs" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="UCs.Id" value="@UCs.Id" />
                <div class="mb-3">
                    <label for="unidadecurricula" class="form-label">UnidadeCurricula:</label>
                    <InputText id="unidadecurricula" @bind-Value="UCs.UnidadeCurricula" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => UCs.UnidadeCurricula" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="internalcod" class="form-label">InternalCod:</label>
                    <InputText id="internalcod" @bind-Value="UCs.InternalCod" class="form-control" />
                    <ValidationMessage For="() => UCs.InternalCod" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/ucs">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private UCs? UCs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        UCs ??= await context.UCs.FirstOrDefaultAsync(m => m.Id == Id);

        if (UCs is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUCs()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(UCs!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UCsExists(UCs!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/ucs");
    }

    private bool UCsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.UCs.Any(e => e.Id == id);
    }
}
