@page "/ucs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Momentum.UI.Models
@using Momentum.UI.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Momentum.UI.Data.AppDbContext2> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="ucs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.UCs">
    <PropertyColumn Property="ucs => ucs.UnidadeCurricula" />
    <PropertyColumn Property="ucs => ucs.InternalCod" />

    <TemplateColumn Context="ucs">
        <a href="@($"ucs/edit?id={ucs.Id}")">Edit</a> |
        <a href="@($"ucs/details?id={ucs.Id}")">Details</a> |
        <a href="@($"ucs/delete?id={ucs.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext2 context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
