<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Momentum.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ucdocentemomentos" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Avaliações
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datas" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Datas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docentes" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Docentes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="momentos" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Momentos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="regimes" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Regimes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="semestres" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Semestres
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ucs" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> Unidades Curriculares
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ucsdocentes" Match="NavLinkMatch.All">
                <i class="bi bi-3-square-fill"></i> UCs e Docentes
            </NavLink>
        </div>


        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>*@
    </nav>
</div>

